#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}
